body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.top {
  overflow: hidden;
  background-color: #333;
}

.nav {
  margin: auto;
  width: 60%;
  padding: 0px;
}

.nav a {
  left: 50%;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #727272;
  color: white;
}

.nav a.logo {
  background-color: #4CAF50;
  color: white;
  font-weight:bold;
}

.content {
  margin: auto;
  width: 60%;
  padding: 0px;
}