{% extends "layout.html" %}
{% block content %}
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static', filename='chart.js') }}"></script>

    <h1>Welcome!</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend>Search for stock</legend>
            {{ form.ticker.label() }}
            {{ form.ticker() }}
            {{ form.submit() }}
        </fieldset>
    </form>

    <!-- If user has selected ticker to show -->
    {% if ticker %}
        {%if not is_ticker_found %}
            <h2>Ticker {{ ticker }} not found</h2>
        {% else %}
            <h2>Ticker: {{ ticker }} </h2>
            <h2>Daily close price:</h2>

            <!-- Input to chart.js -->
            <div id='y_values' data-y_values='{{close_prices|tojson}}'></div>
            <div id='x_dates' data-x_values='{{dates|tojson}}'></div>

            <!-- Show the chart -->
            <div id="stock_chart"></div>
            <img src="{{ image_file }}" alt="Image Placeholder" height="400" width="800">
        {% endif %}
    {% endif %}
{% endblock content %}