{% extends "layout.html" %}
{% block content %}
<script src="https://d3js.org/d3.v7.min.js"></script>

<script src="{{ url_for('static', filename='chart.js') }}"></script>
    <h1>Welcome!</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend>Search for stock</legend>
            {{ form.ticker.label() }}
            {{ form.ticker() }}
            {{ form.submit() }}
        </fieldset>
    </form>

    <!-- If user has selected ticker to show -->
    {% if ticker %}
        {%if not is_ticker_found %}
            <h2>Ticker {{ ticker }} not found</h2>
        {% else %}
            <h2>Ticker: {{ ticker }} </h2>

            <!-- Chart -->
            <h2>Daily close price:</h2>
            <div id='priceValues' data-pricelist='{{close_price_list|tojson}}''></div>
            {% for x in close_price_list %}
                {{ x }}
            {% endfor %}
            <div id="my_dataviz"></div>

            <img src="{{ image_file }}" alt="Image Placeholder" height="400" width="800">

            <!-- Table -->
            <!-- {% for table in tables %}
                {{ titles[loop.index] }}
                {{ table|safe }}
            {% endfor %} -->
        {% endif %}
    {% endif %}

{% endblock content %}