<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    {% if title %}
        <title>Tradeo - {{ title }}</title>
    {% else %}
        <title>Tradeo</title>
    {% endif %}
</head>
<body>
    <div class="top">
        <div class="nav">
            <a class="logo" href="/">Tradeo</a>
            <a href="/">Home</a>
            <a href="/market">Market</a>
            <a href="/crypto">Crypto</a>
            <a href="/about">About</a>
            <a href="/dev">Dev</a>
        </div>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>